<div>
    <h1>{{langService.currentLang.app.pages.exam.children.examSelector.title}}</h1>
    <p>{{langService.currentLang.app.pages.exam.children.examSelector.subtitle}}</p>

    <div class="exam-selector-container row">

        <mat-card class="col-sm-5 exam-selector-card m-2" *ngFor="let exam of getExams()">
            <mat-card-header>
                <div mat-card-avatar>
                    <span *ngIf="exam.isAnyAccessoriesRequired" class="text-primary">
                        <span class="material-icons" *ngIf="exam.accessoriesRequirements.headphones"
                            [matTooltip]="langService.currentLang.app.pages.exam.children.examSelector.headphonesTooltip">
                            headset
                        </span>
                        <span class="material-icons" *ngIf="exam.accessoriesRequirements.camera"
                            [matTooltip]="langService.currentLang.app.pages.exam.children.examSelector.cameraTooltip">
                            videocam
                        </span>
                    </span>
                    <span [hidden]="exam.isAnyAccessoriesRequired" class="text-muted">
                        <span class="material-icons"
                            [matTooltip]="langService.currentLang.app.pages.exam.children.examSelector.noAccessoriesTooltip">
                            extension_off
                        </span>
                    </span>
                </div>
                <mat-card-title>{{exam.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="exam-selector-option-image py-1" src="{{exam.imageAssetSrc}}">
            <mat-card-content>
                <p>
                    {{exam.description}}
                </p>

                <mat-card-subtitle>{{exam.note}}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <a *ngIf="exam.outsourceLink" [href]="exam.outsourceLink" target="_blank">
                    <button mat-button>{{langService.currentLang.app.pages.exam.children.examSelector.selectButton.label}}</button>
                </a>
                <button *ngIf="!exam.outsourceLink" [routerLink]="[exam.navigationLink]"
                    mat-button>{{langService.currentLang.app.pages.exam.children.examSelector.selectButton.label}}</button>
                <button (click)="onDisplayExamStudy(exam)"
                    mat-button>{{langService.currentLang.app.pages.exam.children.examSelector.displayStudyButton.label}}</button>
            </mat-card-actions>
        </mat-card>

    </div>
</div>