<div class="audio-controller {{langService.currentLang.dir}}">
    <div class="d-flex">
        <div class="d-flex align-items-center">
            <mat-icon>{{langService.currentLang.dir == 'rtl' ? 'volume_up': 'volume_down'}}</mat-icon>
            <mat-slider [min]="0" [max]="1" [step]="0.1" (input)="onVolumeChangeHandler($event)">
                <input matSliderThumb [value]="volume">
            </mat-slider>
            <mat-icon>{{langService.currentLang.dir == 'rtl' ? 'volume_down': 'volume_up'}}</mat-icon>
        </div>

        <!--Icon for play/pause-->
        <div class="d-flex align-items-center">
            <button mat-icon-button (click)="playPause()">
                <mat-icon>{{isPlaying ? 'pause' : 'play_arrow'}}</mat-icon>
            </button>
        </div>

    </div>
</div>