<div>
    <h1>{{langService.currentLang.app.thanksPage.title}}</h1>
    <p>{{langService.currentLang.app.thanksPage.subtitle}}</p>
    <div dir="ltr">
        <div>
            <a href="https://www.flaticon.com/free-icons/m" title="m icons">M icons created by Freepik - Flaticon</a>
        </div>
        <div>
            <a href="https://www.stockvault.net/photo/259626/utils/common" title="Checked icons">Customer Satisfaction Survey Illustration - stockvault</a>
        </div>
        <div>
            <a href="https://www.rawpixel.com/search/sound%20wave?page=1&path=_topics&sort=curated" title="Sound wave icons">Sound wave icons - rawpixel</a>
        </div>
    </div>
</div>