<div>
    <h1>{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.title}}</h1>
    <mat-stepper orientation="horizontal" [linear]="true" [disableRipple]="true" [animationDuration]="'300'" #stepper>


        <mat-step [stepControl]="userAgreementForm" [editable]="false" class="my-2">
            <ng-template matStepLabel>
                {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.title}}
            </ng-template>
            <div>

                <h4 class="h4">
                    {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.subtitle}}
                </h4>
                <ul>
                    <li
                        *ngFor="let text of langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.content.ul">
                        {{text}}
                    </li>
                </ul>

                <section [formGroup]="userAgreementForm">
                    <div>
                        <mat-form-field class="d-block mb-3">
                            <mat-label>{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.age.label}}</mat-label>
                            <input matInput formControlName="age" type="number" required>
                            <mat-error
                                *ngIf="userAgreementForm.controls['age']?.invalid">{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.age.errorMessage}}</mat-error>
                        </mat-form-field>

                        <mat-form-field class="d-block mb-3">
                            <mat-label>{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.gender.label}}</mat-label>
                            <mat-select formControlName="gender" required>
                                <mat-option
                                    *ngFor="let option of langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.gender.options"
                                    [value]="option.value">
                                    {{option.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="userAgreementForm.controls['gender']?.invalid">
                                {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.gender.errorMessage}}
                            </mat-error>
                        </mat-form-field>

                        <mat-checkbox formControlName="isConfirmed" color="primary"></mat-checkbox>
                        <strong>
                            {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.isConfirmed.label}}
                        </strong>
                    </div>
                </section>

                <div class="my-2">
                    <button mat-raised-button color="primary" [disabled]="userAgreementForm.invalid"
                        (click)="stepper.next()">{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.nextButton.label}}</button>
                </div>
            </div>

        </mat-step>


        <mat-step [stepControl]="misoquestWithAudioForm" [editable]="false" class="my-2">
            <ng-template matStepLabel>
                {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.misoquest.title}}
            </ng-template>
            <div *ngIf="userAgreementForm.valid">
                <ng-container
                    *ngTemplateOutlet="audioTemplate;context: {currentSound: getCurrentSound()}"></ng-container>
                <ng-template #audioTemplate let-sound="currentSound">
                    <div class="d-flex flex-column justify-content-center">
                        <h4 class="h4">
                            <span *ngIf="currentSoundIndex > -1">
                                <mat-icon [style.lineHeight]="'30px'" class="text-primary">audiotrack</mat-icon>
                            </span>
                            {{sound.title}}
                        </h4>
                        <div class="mx-auto">
                            <app-audio-controller [audioSrc]="sound.audioSrc" [volume]="currentAudioVolume"
                                [isPreviousButtonDisabled]="currentSoundIndex == -1"
                                [isNextButtonDisabled]="false && !isPlayed(sound.id)"
                                (onPlayStart)="markSoundAsPlayed(sound.id)"
                                (onVolumeChange)="onVolumeChangeHandler($event)" (onPrevious)="onPreviousAudioButton()"
                                (onNext)="onNextAudioButton(stepper)"></app-audio-controller>
                        </div>

                        <div *ngIf="currentSoundIndex > -1">
                            <h5 class="text-muted">
                                {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.misoquest.content.ratingSlider.title}}
                                :
                                <input class="text-center border-light" [style.outline]="'none'"
                                    [style.borderRadius]="'8px'" readonly
                                    size="{{getSoundRating(sound.id).toString().length}}"
                                    value="{{getSoundRating(sound.id)}}" />
                            </h5>

                            <div class="sound-rating {{langService.currentLang.dir}} d-flex align-items-center w-100">
                                <span class="material-icons rating-icon">
                                    {{langService.currentLang.dir == 'rtl' ? 'sentiment_very_dissatisfied' :
                                    'sentiment_satisfied_alt'}}
                                </span>
                                <mat-slider [min]="0" [max]="100" [step]="1" class="w-100"
                                    (input)="onSoundRatingChangeHandler(sound.id, $event)">
                                    <input matSliderThumb [value]="getSoundRating(sound.id)">
                                </mat-slider>
                                <span class="material-icons rating-icon">
                                    {{langService.currentLang.dir == 'rtl' ? 'sentiment_satisfied_alt' :
                                    'sentiment_very_dissatisfied'}}
                                </span>
                            </div>
                        </div>

                    </div>
                </ng-template>
            </div>
        </mat-step>


        <!-- <mat-step [stepControl]="extraForm">
            
        </mat-step> -->


        <mat-step class="my-2">
            <ng-template matStepLabel>
                {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.finalResult.title}}
            </ng-template>
            <div *ngIf="misoquestWithAudioForm.valid && userAgreementForm.valid && caulculatedResults" id="report">
                <h4>
                    {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.finalResult.title}}
                </h4>

                <div class="my-1 alert alert-danger">
                    {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.finalResult.content.disclaimer}}
                </div>

                <div class="row my-1">
                    <div class="chartingTemplate-container col-md-6 my-2"
                        *ngFor="let chart of caulculatedResults.VISUAL_LINE_CHART_DATA">
                        <canvas id="{{chart.id}}">{{ chartDataToChart(chart) }}</canvas>
                    </div>
                </div>

                <div class="my-1">
                    <h5>{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.finalResult.content.cdsByGroup.title}}
                    </h5>
                    <ul class="list-unstyled">
                        <li *ngFor="let cds of caulculatedResults.CDS_BY_GROUP | keyvalue">
                            CDS Score for {{cds.key}}: <span
                                class="{{cds.value.isAboveCutoff? 'text-danger':''}}">{{cds.value.score}}</span>
                            ({{cds.value.cutoff}})

                        </li>
                    </ul>
                </div>

                <div class="my-1 alert alert-secondary">
                    {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.finalResult.content.cdsCalculationNote}}
                </div>

                <div class="my-1">
                    <div class="chartingTemplate-container">
                        <canvas id="{{caulculatedResults.VISUAL_BAR_CHART_DATA.id}}">{{
                            chartDataToChart(caulculatedResults.VISUAL_BAR_CHART_DATA) }}</canvas>
                    </div>
                </div>

                <div class="py-2">
                    <button data-html2canvas-ignore="true" mat-raised-button color="primary"
                        (click)="onDownloadReportButton()">
                        {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.finalResult.downloadReportButton.label}}
                    </button>
                </div>

            </div>
        </mat-step>


    </mat-stepper>
</div>