<div>
    <h1>{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.title}}</h1>
    <mat-stepper orientation="horizontal" [labelPosition]="'bottom'" [linear]="true" [disableRipple]="true"
        [animationDuration]="'300'" #stepper>


        <mat-step [stepControl]="userAgreementForm">
            <ng-template matStepLabel>
                {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.title}}
            </ng-template>

            <h3>{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.subtitle}}
            </h3>
            <ul>
                <li
                    *ngFor="let text of langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.content.ul">
                    {{text}}
                </li>
            </ul>

            <section [formGroup]="userAgreementForm">
                <div>
                    <mat-form-field class="d-block mb-3">
                        <mat-label>{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.age.label}}</mat-label>
                        <input matInput formControlName="age" type="number" required>
                        <mat-error
                            *ngIf="userAgreementForm.controls['age']?.invalid">{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.age.errorMessage}}</mat-error>
                    </mat-form-field>

                    <mat-form-field class="d-block mb-3">
                        <mat-label>{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.gender.label}}</mat-label>
                        <mat-select formControlName="gender" required>
                            <mat-option
                                *ngFor="let option of langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.gender.options"
                                [value]="option.value">
                                {{option.label}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="userAgreementForm.controls['gender']?.invalid">
                            {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.gender.errorMessage}}
                        </mat-error>
                    </mat-form-field>

                    <mat-checkbox formControlName="isConfirmed"></mat-checkbox>
                    <strong>
                        {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.userAgreement.form.controls.isConfirmed.label}}
                    </strong>
                </div>
            </section>

            <div class="my-2">
                <button mat-button [disabled]="userAgreementForm.invalid"
                    (click)="stepper.next()">{{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.nextButton.label}}</button>
            </div>

        </mat-step>


        <mat-step [stepControl]="misoquestWithAudioForm">
            <ng-template matStepLabel>
                {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.misoquest.title}}
            </ng-template>
            <div>
                <div class="mx-auto">
                    <h3>{{getCurrentSound().title}}</h3>
                    <app-audio-controller [audioSrc]="getCurrentSound().audioSrc" [volume]="currentAudioVolume"
                        (onVolumeChange)="onVolumeChangeHandler($event)"></app-audio-controller>
                </div>
            </div>
            <div>
                <button mat-raised-button (click)="onNextAudioButton(stepper)">
                    {{langService.currentLang.app.pages.exam.children.exams.psychoacoustic.steps.misoquest.content.nextButton.label}}
                </button>
            </div>
        </mat-step>


        <mat-step [stepControl]="extraForm">
            Or
        </mat-step>



        <mat-step [stepControl]="finalResultForm">

        </mat-step>


    </mat-stepper>
</div>